.index-bg-img { 
    background-image: url("../../../img/pexels-roberto-nickson-2661176.webp") ;
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */

}

.screen {
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

.construction-img {
    background-image: url("../../../img/Construction-Illustration.webp") ;
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
}

.is-fullheight-100vh{
    height:100vh;
}

.snak-gam{
    height: 30vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    /* background-color: black; */
}

#game-board{
    background-color: #CCC;
    width: 30vmin;
    height: 30vmin;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

.snake{
    background-color: rgb(0, 255, 255);
    border: .25vmin, salmon;
}

.apple{
    background-color: coral;
    border: .25vmin, salmon;
}

.conveys-game{
    height: 30vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    background-color: black;
}

.convey-board{
    background-color: #CCC;
    width: 30vmin;
    height: 30vmin;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
}